@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<! Displays the error page/>
<img src="/cowboy-cafe-images/BuckingBronco.png"/>
<h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>